@import './burger/burger.css';
@import './pizza/pizza.css';
@import './sushi/sushi.css';

body{
  margin: 0;
  background-color: #fafafa;
}

*{
  box-sizing: border-box;
}

.space{
  height: 550px;
}

.title{
  text-align: center;
}
