.pizza{
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #cf8e00;
  animation: roll 10s ease-in-out 0s infinite alternate;
  box-shadow: 0px 0px 20px 2px;
}

.pizza::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgba(255, 238, 0, 0.78);
}

.pizza__spicySalami{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ca2800;
}

.pizza__spicySalami:nth-child(1){
  top: 20%;
  left: 20%;
}

.pizza__spicySalami:nth-child(2){
  top: 10%;
  left: 40%;
}

.pizza__spicySalami:nth-child(3){
  top: 25%;
  left: 65%;
}

.pizza__spicySalami:nth-child(4){
  top: 80%;
  left: 65%;
}

.pizza__spicySalami:nth-child(5){
  top: 70%;
  left: 25%;
}

.pizza__spicySalami:nth-child(6){
  top: 50%;
  left: 10%;
}

.pizza__spicySalami:nth-child(7){
  top: 50%;
  left: 80%;
}

.pizza__spicySalami:nth-child(8){
  top: 50%;
  left: 50%;
}

.pizza__spicySalami:nth-child(9){
  top: 40%;
  left: 30%;
}

.pizza__spicySalami:nth-child(10){
  top: 70%;
  left: 45%;
}

.pizza__spicySalami:nth-child(11){
  top: 30%;
  left: 50%;
}

.pizza__spicySalami:nth-child(12){
  top: 65%;
  left: 70%;
}

.pizza__spicySalami:nth-child(13){
  top: 35%;
  left: 75%;
}

.pizza__spicySalami:nth-child(14){
  top: 55%;
  left: 30%;
}

.pizza__spicySalami:nth-child(15){
  top: 35%;
  left: 15%;
}

.pizza__spicySalami:nth-child(16){
  top: 25%;
  left: 35%;
}

.pizza__slide{
  position: absolute;
  width: 500px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.pizza__slide:nth-child(17){
  top: 50%;
  left: 0;
}

.pizza__slide:nth-child(18){
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

.pizza__slide:nth-child(19){
  top: 50%;
  left: 0;
  transform: rotate(90deg);
}

.pizza__slide:nth-child(20){
  top: 50%;
  left: 0;
  transform: rotate(135deg);
}

@keyframes roll{
  from{
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to{
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}