.burger, .burger__bread, .burger__bread--bot, .burger__meat, .burger__lettuce, .burger__wave, 
.burger__tomato, .burger__cheese, .burger__cheese::before, .burger__onion, .burger__seeds{
  position: absolute;
}

.burger__bread, .burger__bread--bot{
  background-color: #d38900;
  width: 500px;
}

.burger__bread, .burger__bread--bot, .burger__lettuce, .burger__meat, .burger{
  transform: translateX(-50%);
  left: 50%;
}

.burger__tomato, .burger__cheese{
  top: 55%;
  width: 500px;
}

.burger{
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  height: 400px;
  border-radius: 45% 45% 5% 5%;
  overflow: hidden;
}

.burger__bread{
  top: 0;
  height: 200px;
  border-radius: 0 0 1% 1%;
}

.burger__bread--bot{
  top: 82%;
  height: 80px;
  border-radius: 5% 5% 0 0;
}

.burger__meat{
  top: 65%;
  width: 490px;
  height: 70px;
  background-color: #6b5d38;
  border-radius: 25% 25% 5% 5%;
}

.burger__lettuce{
  top: 60%;
  width: 500px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
}

.burger__wave{
  width: 50px;
  height: 40px;
  background-color: #6b5d38;
  border-radius: 50% 50% 0 0;
}

.burger__wave:nth-child(1){
  top: 65%;
  left: 2%;
  width: 40px;
}

.burger__wave:nth-child(2){
  top: 75%;
  left: 10%;
}

.burger__wave:nth-child(3){
  top: 80%;
  left: 20%;
}

.burger__wave:nth-child(4){
  top: 80%;
  left: 30%;
}

.burger__wave:nth-child(5){
  top: 80%;
  left: 40%;
}

.burger__wave:nth-child(6){
  top: 80%;
  left: 50%;
}

.burger__wave:nth-child(7){
  top: 80%;
  left: 60%;
}

.burger__wave:nth-child(8){
  top: 80%;
  left: 70%;
}

.burger__wave:nth-child(9){
  top: 75%;
  left: 80%;
}

.burger__wave:nth-child(10){
  top: 62%;
  left: 90%;
  width: 40px;
}


.burger__tomato{
  height: 50px;
  background-color: rgb(207, 6, 6);
  border-radius: 30%;
}

.burger__cheese{
  height: 10px;
  background-color: #e9e500;
  border-radius: 20%;
}

.burger__cheese::before{
  content: '';
  top: 0;
  left: 70%;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translateY(-15px);
  background: linear-gradient(135deg, transparent, #e9e500, #e9e500, #e9e500);
}

.burger__onion{
  top: 47%;
  width: 500px;
  height: 35px;
  background-color: purple;
  border-radius: 30%;
}

.burger__seeds{
  width: 30px;
  height: 10px;
  background-color: wheat;
  border-radius: 50%;
}

.burger__seeds:nth-child(1){
  top: 30%;
  left: 20%;
  transform: rotate(10deg);
}

.burger__seeds:nth-child(2){
  top: 30%;
  left: 40%;
  transform: rotate(150deg); 
}

.burger__seeds:nth-child(3){
  top: 70%;
  left: 10%;
  transform: rotate(120deg); 
}

.burger__seeds:nth-child(4){
  top: 20%;
  left: 60%;
  transform: rotate(50deg); 
}

.burger__seeds:nth-child(5){
  top: 50%;
  left: 75%;
  transform: rotate(10deg); 
}

.burger__seeds:nth-child(6){
  top: 70%;
  left: 30%;
  transform: rotate(0deg);
}

.burger__seeds:nth-child(7){
  top: 70%;
  left: 50%;
  transform: rotate(30deg);
}

.burger__seeds:nth-child(8){
  top: 70%;
  left: 70%;
  transform: rotate(160deg);
}

.burger__seeds:nth-child(9){
  top: 50%;
  left: 58%;
  transform: rotate(90deg);
}

.burger__seeds:nth-child(10){
  top: 50%;
  left: 25%;
  transform: rotate(170deg);
}